/* Common Shared Styles */
body {
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
  color: #fff;
}

/* Nav related Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}

.nav-title {
  color: #1e1e1e;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
}

nav li {
  color: #474747;
  font-size: 20px;
}

nav a {
  text-decoration: none;
}

/* header related styles */
.header {
  background-color: #fff8f3;
}

.banner {
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
}

.banner img {
  width: 500px;
}
